{% extends 'registration/base.html' %}
{% block wrapper %}
    <div class="wrapper">
        <span>{{ user.username }}</span>
        <i class="fa fa-address-card"></i>
        <div class="box text-center">
            <a href="{% url 'moje_konto' %}"><p>Moje konto</p></a>
            <a href="{% url 'change_password' %}"><p>Zmiana hasła</p></a>
            <a href="{% url 'logout' %}"><p>Wyloguj</p></a>
        </div>
    </div>
{% endblock %}

{% block login %}
<div class="container text-center panel">
    <div class="col-12">
        <h1>Zmiana hasła</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.label == 'Nowe hasło' %}
            <div class="form-group">
                <label class="label">{{ field.label }}</label>
                {{ field }}
        {% elif field.label == 'Nowe hasło2' %}
                <label></label>
                {{ field }}
            </div>
        {% else %}
            <div class="form-group">
                <label class="label">{{ field.label }}</label>
                    {{ field }}
            </div>
        {% endif %}
        {% endfor %}
        <!--<button type="submit">Zapisz</button>-->
        <a>
            <input type="submit" value="Zmień"/>
        </a>
    </form>
    <div class="error">
        {% if form.errors.old_password == None %}
            {% for field in form %}
                <p>
                    {{ field.errors|striptags }}
                </p>
            {% endfor %}
        {% else %}
            <p>
                {{ form.errors.old_password|striptags }}
            </p>
        {% endif %}
   </div>
</div>
{% endblock %}
