{% extends 'registration/base.html' %}

{% block login %}
  <div class="container text-center" id="log">
    <div class="col-12">
        <h1>Resetowanie hasła</h1>
    </div>
    <form method="post">
        {% if validlink %}
        {% csrf_token %}
            <div class="form-group">
            <label for="id_new_password1">Nowe hasło</label>
            <input type="password" class="form-control" name="new_password1" required id="id_new_password1" placeholder="Hasło">
      </div>
      <div class="form-group">
            <input type="password" class="form-control" name="new_password2" required id="id_new_password2" placeholder="Powtórz hasło">
        </div>
      <input type="submit" value="Zmień hasło">
    </form>
    <div class="error">
        {% if form.errors.new_password2|striptags == "The two password fields didn't match." %}
            {{ form.errors.new_password2 }}
            ala
        {% endif %}
        {% for field in form %}
            <p>
                {{ field.errors|striptags }}
            </p>
        {% endfor %}
    </div>
</div>
  {% else %}
    <form method="post">
    <div class="form-group">
      Link do resetowania hasła jest nieprawidłowy, prawdopodobnie dlatego, że został już użyty.
       Poproś o ponowne ustawienie hasła.
    </div>
        <a href="{% url 'index' %}" class="btn btn-default">Strona główna</a>
    </form>
  {% endif %}
{% endblock %}
