{% extends 'registration/base.html' %}

{% block login %}
<div class="container text-center" id="log">
    <div class="col-12">
        <h1>Hasło zostało zresetowane</h1>
    </div>
    <form method="post" action="">
        <div class="form-group">
            <span>Twoje nowe hasło zostało ustawione. Możesz się teraz zalogować na stronie</span>
        </div>
        <a href="{% url 'login/' %}" class="btn btn-default">Zaloguj</a>
    </form>
    <div class="error"><p>{{ form.non_field_errors|striptags }}</p></div>
</div>
{% endblock %}
