{% extends 'registration/base.html' %}

{% block login %}
<div class="container text-center" id="log">
    <div class="col-12">
        <h1>Resetowanie hasła</h1>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Adres email</label>
            <input type="email" class="form-control" name="email" id="id_email" placeholder="Adres email">
        </div>
        <input type="submit" value="Wyślij">
    </form>
    <div class="error"><p>{{ form.non_field_errors|striptags }}</p></div>
</div>
{% endblock %}
