{% extends 'registration/base.html' %}

{% block login %}
<div class="container text-center panel">
    <div class="col-12">
        <h1>Resetowanie hasła</h1>
    </div>
    <form>
        <div class="form-group">
            <label>Na podany przez ciebie adres została wysłana instrukcja</label>
        </div>
        <a href="{% url 'index' %}">
            <input formaction="{% url 'index' %}" type="submit" value="Powrót"/>
        </a>
    </form>
    <div class="error"><p>{{ form.non_field_errors|striptags }}</p></div>
</div>
{% endblock %}

{% block stopka %}
    style="position: absolute"
{% endblock %}
