{% extends 'user_example/index_glowny.html' %}
{% block zaloguj %}
{% if user.is_authenticated %}

    <div class="wrapper">
        <span>{{ user.username }}</span>
        <i class="fa fa-address-card"></i>
        <div class="box text-center">
            <a href="{% url 'moje_konto' %}"><p>Moje konto</p></a>
            <a href="{% url 'change_password' %}"><p>Zmiana hasła</p></a>
            <a href="{% url 'logout' %}"><p>Wyloguj</p></a>
        </div>
    </div>
    {% else %}
    <span><a href="{% url 'login' %}">Zaloguj</a></span>
    {% endif %}

{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Strona główna</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'baza_skladnikow' %}">Baza składników</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'wyswietl_przepisy' %}">Przepisy</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dodaj_przepis' %}">Stwórz przepis</a>
    </li>
{% endblock %}

{% block glowny %}
<div class="container" id="admin">
    <div class="row adminPanel">
        <div class="col-12">
            <h3>Oczekujące składniki</h3>
        </div>
        {% for p in dane %}
            <div class="col-12 request">
                <div class="adminImg">
                    <img src="http://127.0.0.1:8000/{{ p.obraz }}"/>
                </div>
                <div class="adminText">
                    <em>{{ p.nazwa }}</em>
                </div>
                <div class="userName">
                    <em>{{ p.author }}</em>
                </div>
                <div class="adminContent">
                    <p>{{ p.opis }}</p>
                </div>
                <div class="adminDecision">
                    <form method="post" action="">
                        {% csrf_token %}
                    <button name="add1" value={{ p.id }}>Dodaj</button>
                    <button name="delete1" value={{ p.id }}>Usuń</button>
                    <button name="edit1" value={{ p.id }}>Edytuj</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row adminPanel">
        <div class="col-12">
            <h3>Oczekujące przepisy</h3>
        </div>
        {% for p in przepisy %}
        <div class="col-12 request">
            <div class="adminImg">
                <img src="http://127.0.0.1:8000/{{ p.obraz }}"/>
            </div>
            <div class="adminText">
                <em>{{ p.nazwa }}</em>
            </div>
            <div class="userName">
                <em>{{ p.author }}</em>
            </div>
            <div class="adminContent">
                <p>{{ p.opis }}</p>
            </div>
            <div class="adminDecision">
                <form method="post" action="">
                        {% csrf_token %}
                <button name="add2" value={{ p.id }}>Dodaj</button>
                <button name="delete2" value={{ p.id }}>Usuń</button>
                <button name="edit2" value={{ p.id }}>Edytuj</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row adminPanel">
        <div class="col-12">
            <hr style="height: 2px; background: black; border: 0px;">
            <h3>Edycja przepisy</h3>
        </div>
        {% for p in przepisy_edycja %}
        <div class="col-12 request">
            <div class="adminImg">
                <img src="http://127.0.0.1:8000/{{ p.obraz }}"/>
            </div>
            <div class="adminText">
                <em>{{ p.nazwa }}</em>
            </div>
            <div class="userName">
                <em>{{ p.author }}</em>
            </div>
            <div class="adminContent">
                <p>{{ p.opis }}</p>
            </div>
            <div class="adminDecision">
                <form method="post" action="">
                        {% csrf_token %}
                <button name="add3" value={{ p.id }}>Dodaj</button>
                <button name="delete3" value={{ p.id }}>Usuń</button>
                <button name="edit3" value={{ p.id }}>Edytuj</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
