{% extends 'user_example/index_glowny.html' %}
{% block zaloguj %}
{% if user.is_authenticated %}

    <div class="wrapper">
        <span>{{ user.username }}</span>
        <i class="fa fa-address-card"></i>
        <div class="box text-center">
            <a href="{% url 'moje_konto' %}"><p>Moje konto</p></a>
            <a href="{% url 'change_password' %}"><p>Zmiana hasła</p></a>
            <a href="{% url 'logout' %}"><p>Wyloguj</p></a>
        </div>
    </div>
    {% else %}
    <span><a href="{% url 'login' %}">Zaloguj</a></span>
    {% endif %}

{% endblock %}
{% block glowny %}
    <div class="container text-center" id="base">
        <h1>Baza składników</h1>
        {% for p in przepis %}
            <div class="item row">
                <div class="col-6 itemImg">
                    <img src="http://127.0.0.1:8000/{{ p.obraz }}"/>
                </div>
                <div class="col-6 itemContent">
                    <h3>{{ p.nazwa }}</h3>
                    <p>{{ p.opis }}</p>
                    <!--<p>{{ p.zastosowanie }}</p>-->
                </div>
            </div>
        {% endfor %}
        <img src="https://urboart.pl/571-thickbox_default/przyprawy-na-lyzkach-hartowany-panel-szklany.jpg"/>
    </div>
{% endblock %}
