<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">

    <title>Kulinarnixd</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navi" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Kulinarni.pl</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="Strona_glowna.html">Strona główna</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="baza_skladnikow.html">Baza składników</a>
            </li>
            <li class="nav-item active"><a class="nav-link" href="o_autorach.html">O autorach</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container text-center" id="register">
    <div class="col-12">
        <h1>Zaloguj się</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Adres email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adres email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Hasło</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
        <h2>Nie masz jeszcze konta? </h2>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>

</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 contact text-center">
                <h3>Kulinarni.pl</h3>
                <p>Telefon: 992-351-864</p><i class="fa fa-phone"></i>
                <p>kulinarni@gmail.com</p><i class="fa fa-envelope"></i>
            </div>
            <div class="col-12 contact-bottom text-center">
                <p>Odwiedź nas w mediach społecznościowych:</p><i class="fa fa-facebook"></i><i
                    class="fa fa-youtube"></i><i class="fa fa-twitter"></i>
            </div>
        </div>
    </div>

</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
